{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>WomTask - Главная</title>
</head>

<body>
    <header class="header-container">
        <nav class="header-content">
            <div class="logo-container">
                <a href="/" >
                    <h1>WomTask!</h1>
                </a>
                <div class="location">
                    <img src="{% static "icons/location.svg" %}"alt="location-icon">
                    <p>Петропавловск</p>
                </div>
            </div>
            <div class="navbar-links">
                <a href="/job/" class="nav-link">Создать заказ</a><a href="/masters.html"
                    class="nav-link">Все мастера</a><a href="/all-orders.html" class="nav-link">Все заказы</a>
            </div>
            <div class="auth-container">
            {% if user.is_authenticated %}
            <a href="/profile" class="navbar-user-container">
                <p>

                    {{ user.username }}
                </p>
                <img src="{%static "images/blank-profile.webp" %}" alt="">
            </a>
            {% else %}
                <a href="/signup" class="register">Регистрация</a>
                <div class="login-wrapper">
                    <img src="{% static "icons/login.svg" %}"alt="login-icon" class="login-icon"> <a href="/login"
                        class="login">Войти</a>
                </div>
                {% endif %}
                <div class="burger"><img src="{% static "icons/burger.svg" %}"alt="бургер"></div>
                <div class="cross"><img src="{% static "icons/cross.svg" %}"alt="крестик"></div>
            </div>
        </nav>
    </header>
    <div class="shadow"></div>
    <div class="off-screen-menu">
        <nav class="nav-links">
            <a href="#" class="logo"><img src="{% static "icons/logo.svg" %}"alt="logo"></a> <a href="/create-order.html"
                class="nav-link">Создать заказ</a> <a href="/all-orders.html" class="nav-link">Все заказы</a> <a
                href="/masters.html" class="nav-link">Все мастера</a> <a href="/register"
                class="nav-link">Регистрация</a>
            <!-- <div class="login-wrapper">
                <img src="{% static "icons/login.svg" %}"alt="login-icon" class="login-icon"> <a href="/login.html"
                    class="login">Войти</a>
            </div> -->
        </nav>
    </div>

{% block content %}
{% endblock content %}

<div class="container" id="footer">
    <div class="content">
        <div class="navigation">
            <a href="#"></a>
            <div class="double-link">
                <a class="link" href="#">Все мастера</a> <a class="link"
                    href="https://deladom.ebi.kz/all-orders.html">Все заказы</a>
            </div>
            <div class="double-link">
                <a class="link" href="#">Войти</a> <a class="link" href="#">Регистрация</a>
            </div>
            <div class="double-link">
                <a class="link" href="#">+7 438 438 4384</a>
                <div class="socials">

                    <a href="/"><img src="{% static "icons/vk-icon.svg" %}"alt="vk"></a>
                    <a href="/"><img src="{% static "icons/ok-icon.svg" %}"alt="ok"></a>
                    <a href="/"><img src="{% static "icons/inst.svg" %}"alt="instagram"></a>
                    <a href="/"><img src="{% static "icons/wp.svg" %}"alt="vk"></a>
                    <a href="/"><img src="{% static "icons/tg.svg" %}"alt="vk"></a>

                </div>
            </div>
        </div>
        <div class="devider"></div>
        <div class="info">
            <p class="link">© Все права защищены</p><a class="link" href="#">Политика конфиденциальности</a>
        </div>
    </div>
</div><button class="return-to-top" onclick="topFunction()" id="topBtn"><img src="{% static "icons/arrow-top.svg" %}"
        alt="arrow-top"></button>
<script src="{% static "js/main.js" %}"></script>
<script src="{% static "js/return-to-top.js"%}"></script>
<script src="{% static "js/tabs.js"%}"></script>
</body>

</html>