{% extends 'blank.html' %}
{% load static %}
{% block content %}
    <div class="container" id="create-order">
        
        <div class="content">
            <div class="breadcrumbs">
                <a href="/">Главная /</a>
                <a href="/create-order.html">Услуги</a>
            </div>
            <h1>Создать заказ</h1>
            <form id="jobForm" action="/job/create/" method="POST" class="order-creation-form">
                {% csrf_token %}
                <section class="title-section">
                    {% comment %} <label>Заголовок</label> {% endcomment %}
                    <div class="input-group">
                        <label for="name">Заголовок</label>
                        <input id="name" name="name" type="text">
                    </div>
                    <div class="input-in-row">
                        <div class="input-group">
                            <label for="category">Категория</label>
                            <input id="category_id" name="category_id" name="category" type="text">
                        </div>
                        {% comment %} <div class="input-group">
                            <label for="pod-category">Подкатегория</label>
                            <input id="pod-category" name="pod-category" type="text">
                        </div> {% endcomment %}
                    </div>
                </section>
                {% comment %} <section class="requirements">
                    <h2>Какие услуги понадобятся</h2>
                    <div class="input-group-radio">
                        <input type="radio" name="1" id="1">
                        <label for="1">Закупка материалов</label>
                    </div>
                    <div class="input-group-radio">
                        <input type="radio" name="2" id="2">
                        <label for="2">Разгрузка и подъем материалов</label>
                    </div>
                    <div class="input-group-radio">
                        <input type="radio" name="3" id="3">
                        <label for="3">Демонтаж</label>
                    </div>

                </section> {% endcomment %}
                {% comment %} <section class="adress">
                    <h2>По какому адресу?</h2>
                    <div class="input-group">
                        <label for="adres-input">Адрес</label>
                        <input id="adres-input" type="text">
                    </div>
                    <img src="{% static "images/map.png" %}" alt="карта">
                </section> {% endcomment %}
                {% comment %} <section class="start-stop-date">
                    <h2>Когда нужно приступить к работе?</h2>
                    <div class="inputs-container">
                        <div class="start">

                            <div class="input-group">
                                <label for="start-input">Начало работы</label>
                                <input id="start-input" type="datetime-local">
                            </div>
                            <!-- <input type="text" placeholder="14:00"> -->
                        </div>
                        <div class="stop">

                            <div class="input-group">
                                <label for="end-input">Конец работы</label>
                                <input id="end-input" type="datetime-local">
                            </div>
                            <!-- <input type="datetime-local" placeholder="14:00"> -->
                        </div>
                    </div>
                </section> {% endcomment %}
                <section class="details">
                    <h2>Детали заказа</h2>
                    <div class="input-group">
                        <label for="details-input">Описание</label>
                        <input id="description" name="description" type="text" class="details-input">
                    </div>
                    <div class="add-photo">
                        <img src="{% static "images/job-image.png" %}" alt="Фото работы">
                        <div class="add-photo-btn">
                            <img src="{% static "icons/plus.svg" %}" alt="плюс">
                            Добавить фото
                        </div>
                    </div>
                </section>
                <section class="budget">
                    <h2>Бюджет</h2>
                    <div class="input-in-row">
                        <div class="input-group">
                            <label for="start-budget">
                                Укажите примерный Бюджет
                            </label>
                            <input type="number" name="price" id="price" placeholder="В тенге"q>
                        </div>
                        {% comment %} <input type="text" placeholder="До" name="end-budget" id="end-budget"> {% endcomment %}
                    </div>
                    {% comment %} <div class="payment-method">
                        <h3>Способ оплаты</h3>
                        <div class="input-group-radio">
                            <input type="radio" name="4" id="4">
                            <label for="4">Первый способ</label>
                        </div>
                        <div class="input-group-radio">
                            <input type="radio" name="5" id="5">
                            <label for="5">Второй способ</label>
                        </div>
                        <div class="input-group-radio">
                            <input type="radio" name="6" id="6">
                            <label for="6">Третий способ</label>
                        </div>
                    </div> {% endcomment %}
                </section>
                <section class="donate-functions">
                    <h2>Платные функции (в разработке) </h2>
                    <div class="block bal">
                        <div class="top">
                            <p>Ваш баланс: <strong>500 руб</strong></p>
                        </div>
                        <div class="bot">
                            <button class="blue-btn">Пополнить</button>
                        </div>
                    </div>
                    <div class="block">
                        <div class="top">
                            <img src="{% static "icons/zakrep.svg" %}" alt="замочек">
                            <h3>Закрепить заказ</h3>
                            <img src="{% static "icons/turned-on.svg" %}" alt="рычажек">
                        </div>
                        <div class="bot">
                            <div class="radio-btn-plan active">
                                <p>На 1 день</p>
                                <p class="price">100 руб</p>
                            </div>
                            <div class="radio-btn-plan">
                                <p>На 7 дней</p>
                                <p class="price">500 руб</p>
                            </div>
                            <div class="radio-btn-plan">
                                <p>На 30 дней</p>
                                <p class="price">1600 руб</p>
                            </div>
                            <div class="plan-info">
                                <p class="gray">Срок действия:</p>
                                <p>до 11 января 2024, 08:29</p>
                            </div>
                        </div>
                    </div>
                    <div class="block">
                        <div class="top">
                            <img src="{% static "icons/colorize.svg" %}" alt="кисточка">
                            <h3>Выделить цветом </h3>
                            <img src="{% static "icons/turned-off.svg" %}" alt="рычажек">
                        </div>
                        <div class="bot">
                            <div class="radio-btn-plan">
                                <p>На 1 день</p>
                                <p class="price">100 руб</p>
                            </div>
                            <div class="radio-btn-plan">
                                <p>На 7 дней</p>
                                <p class="price">500 руб</p>
                            </div>
                            <div class="radio-btn-plan">
                                <p>На 30 дней</p>
                                <p class="price">1600 руб</p>
                            </div>
                            <div class="plan-info">
                                <p class="gray">Срок действия:</p>
                                <p>-</p>
                            </div>
                        </div>
                    </div>
                    <div class="block">
                        <div class="top">
                            <img src="{% static "icons/zakrep.svg" %}" alt="замочек">
                            <div class="">

                                <h3>Срочный заказ</h3>
                                <p>300 руб</p>
                            </div>
                            <img src="{% static "icons/turned-on.svg" %}" alt="рычажек">
                        </div>
                        <div class="bot">
                        </div>
                    </div>
                </section>
                <section class="final-price">
                    <div class="left">
                        <p>Сумма к оплате: </p>
                    </div>
                    <div class="right">
                        <h3 class="price">700 руб</h3>
                        <p class="error">Не хватает: 200руб</p>
                        <a href="">Пополнить баланс</a>
                    </div>
                </section>
                <div class="devider"></div>
                <button class="blue-btn mini">Опубликовать заказ</button>
            </form>
        </div>
    </div>
    <script>
        document.getElementById('jobForm').onsubmit = function(event) {
            event.preventDefault(); // Prevent default form submission
            var formData = new FormData(this);
            fetch(this.action, {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}' // Ensure CSRF token is included
                }
            }).then(response => response.json())
              .then(data => {
                  console.log('Success:', data);
                  // Handle success, e.g., display a message, update UI
              }).catch((error) => {
                  console.error('Error:', error);
                  // Handle errors here
              });
        };
        </script>

{% endblock content %}
    