{% extends 'blank.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="content">
            <div class="breadcrumbs">
                <a href="/">Главная /</a>
                <a href="/lk.html">Личный кабинет</a>
            </div>
        </div>
        <div class="content" id="lk">
            <div class="sidebar">
                <p class="sidebar-link active">Баланс</p>
                <p class="sidebar-link">Мои анкеты</p>
                <p class="sidebar-link">Мои заказы</p>
                <p class="sidebar-link">Рефералы</p>
                <p class="sidebar-link">Настройки профиля</p>
                <p class="sidebar-link">Выйти</p>
                <a href="/chat.html" class="sidebar-link">Чат</a>
                <!-- <p id="my-balance" class="sidebar-link active">Баланс</p>
                <p id="my-master" class="sidebar-link">Мои анкеты</p>
                <p id="my-order" class="sidebar-link">Мои заказы</p>
                <p id="my-refs" class="sidebar-link">Рефералы</p>
                <p id="my-settings" class="sidebar-link">Настройки профиля</p>
                <p id="logout" class="sidebar-link">Выйти</p>
                <a href="/chat.html" class="sidebar-link">Чат</a> -->
            </div>
            <div class="sidebar-panel active" id="my-balance">
                <div class="blocks">
                    <div class="block page-select-container">
                        <select class="page-select" name="currPage" >
                            <option>Баланс</option>
                            <option>Мои анкеты</option>
                            <option>Мои заказы</option>
                            <option>Рефералы</option>
                            <option>Настройки профиля</option>
                            <option>Выйти</option>
                        </select>
                    </div>
                    <div class="block" id="balance">
                        <div class="top">
                            <h1 class="desktop-bal">Ваш баланс 500 руб.</h1>
                            <div class="mobile-bal">
                                <p>Ваш баланс</p>
                                <h1>500 руб.</h1>
                            </div>
                        </div>
                        <div class="bot">
                            <a href="/balance.html" class="blue-btn">Пополнить</a>
                            <a href="/balance.html" class="white-btn">Вывести</a>
                        </div>
                    </div>
                    <div class="block">
                        <div class="top">
                            <h2>История операций</h2>
                        </div>
                        <div class="bot">
                            <table class="operation-history-table">
                                <tr>
                                    <th>Дата</th>
                                    <th>Операция</th>
                                    <th>Сумма</th>
                                </tr>
                                <tr>
                                    <td>12.09.2023 15:43</td>
                                    <td>Пополнение</td>
                                    <td class="green-text">+ 500 руб</td>
                                </tr>
                                <tr>
                                    <td>12.09.2023 15:43</td>
                                    <td>Вывод</td>
                                    <td class="red-text">- 500 руб</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar-panel" id="my-master">
                <div class="blocks">
                    <div class="block page-select-container">
                        <select class="page-select" name="currPage" >
                            <option>Баланс</option>
                            <option>Мои анкеты</option>
                            <option>Мои заказы</option>
                            <option>Рефералы</option>
                            <option>Настройки профиля</option>
                            <option>Выйти</option>
                        </select>
                    </div>
                    <div class="panel-top">
                        <h1>Мои анкеты</h1>
                        <p id="create-anket-btn" class="white-btn">Добавить анкету</p>
                    </div>
                    <div class="master-cards">
                        <div class="master-card">
                            <div class="master-card-top">
                                <div class="master-info">
                                    <img src="{% static "images/avatar.webp"%}" alt="Фото мастера" class="master-avatar">
                                    <div class="master-personal-data-container">
                                        <div class="master-name-container">
                                            <a href="/master-detail-page.html" class="master-name">Иван Иванов</a>
                                            <div class="badges">
                                                <img src="{% static "icons/green-arrow-top.svg" %}" alt="стрелочка вверх">
                                                <img src="{% static "icons/star.svg" %}" alt="звездочка">
                                                <img src="{% static "icons/red-lock.svg" %}" alt="замочек">
                                                <div class="badge-passport">
                                                    <img src="{% static "icons/checked.svg" %}" alt="галочка">
                                                    <p>Паспорт проверен</p>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="offline-status-mob">Оффлайн</div>
                                        <div class="badge-passport">
                                            <img src="{% static "icons/checked.svg" %}" alt="галочка">
                                            <p>Паспорт проверен</p>
                                        </div>

                                        <div class="master-rating-container">
                                            <div class="master-stars-rating">
                                                <img src="{% static "icons/star.svg" %}" alt="звездочка">
                                                <p>4,98</p>
                                            </div>
                                            <div class="master-reviews-rating">
                                                <img src="{% static "icons/review.svg" %}" alt="отзыв">
                                                <p>15 отзывов</p>
                                            </div>
                                        </div>
                                        <p class="years-working">Стаж работы - 5 лет</p>
                                    </div>

                                </div>
                                <div class="offline-status-pc">Был в сети: 1 час 40 мин назад</div>
                            </div>

                            <div class="master-description-container">
                                <p class="master-description-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation
                                </p>
                                <div class="master-services-container">
                                    <div class="master-service">
                                        <p>Первая услуга - <strong>1500 руб</strong></p>
                                    </div>
                                    <div class="master-service">
                                        <p>Вторая услуга - <strong>1500 руб</strong></p>
                                    </div>
                                    <div class="master-service">
                                        <p>Третья услуга - <strong>1500 руб</strong></p>
                                    </div>
                                </div>
                                <div class="btn-group">
                                    <a href="#" class="blue-btn">Платные функции</a>
                                    <a href="#" class="white-btn">Просмотр</a>
                                    <a href="#" class="white-btn">Редактировать</a>
                                    <a href="#" class="red-btn">Удалить анкету</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar-panel" id="my-order">

                <div class="blocks">
                    <div class="block page-select-container">
                        <select class="page-select" name="currPage" >
                            <option>Баланс</option>
                            <option>Мои анкеты</option>
                            <option>Мои заказы</option>
                            <option>Рефералы</option>
                            <option>Настройки профиля</option>
                            <option>Выйти</option>
                        </select>
                    </div>
                    <div class="panel-top">
                        <h1>Мои заказы</h1>
                        <a href="/create-order.html" class="white-btn">Создать заказ</a>
                    </div>
                    <div class="blocks">
                        <div class="block">
                            <div class="top">
                                <a href="#" class="btn-white-square active">Я мастер</a>
                                <a href="#" class="btn-white-square">Я заказчик</a>
                            </div>
                            <div class="bot">
                                <a href="#" class="status-link active">Открытые (15)</a>
                                <a href="#" class="status-link">В работе (2)</a>
                                <a href="#" class="status-link">Архив (245)</a>
                            </div>
                        </div>
                    </div>
                    <div class="orders-list">

                        <div>
                            <div class="order-item">
                                <div class="order-top">
                                    <h2 class="order-name">Ремонт автомобиля</h2>
                                    <h3 class="order-price">До 5000 руб</h3>
                                </div>
                                <div class="order-bot">
                                    <div class="double-stat-group">
                                        <div class="stat-group">
                                            <p>12.01.2024</p>
                                        </div>
                                        <div class="stat-group">
                                            <p>Заказчик не выбрал исполнителя</p>
                                        </div>
                                    </div>

                                </div>
                                <div class="btn-group">
                                    <button id="edit-donations-btn" class="blue-btn">Платные функции</button>
                                    <a href="/order-detail.html" class="white-btn">Просмотр</a>
                                    <a href="#" class="white-btn">Редактировать</a>
                                    <a href="#" class="red-btn">Удалить анкету</a>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="sidebar-panel" id="my-refs">

                <div class="panel-top">
                    <h1>Рефералы</h1>
                </div>
                <div class="blocks">
                    <div class="block page-select-container">
                        <select class="page-select" name="currPage" >
                            <option>Баланс</option>
                            <option>Мои анкеты</option>
                            <option>Мои заказы</option>
                            <option>Рефералы</option>
                            <option>Настройки профиля</option>
                            <option>Выйти</option>
                        </select>
                    </div>
                    <div class="block">
                        <div class="input-group">
                            <label >Моя реферальная ссылка</label>
                            <div class="refs-input">
                                <input type="text" value="feiwhfui2hr873y7285r532r">
                                <div class="buttons">
                                    <img src="{% static "icons/copy.svg" %}" alt="">
                                    <img src="{% static "icons/share.svg" %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block">
                        <div class="top">
                            <h2>История операций</h2>
                        </div>
                        <div class="bot">
                            <table class="operation-history-table">
                                <tr>
                                    <th>Имя</th>
                                    <th>Сумма</th>
                                </tr>
                                <tr>
                                    <td>Иван Иванов</td>
                                    <td class="green-text">+ 500 руб</td>
                                </tr>
                                <tr>
                                    <td>Иван Иванов</td>
                                    <td class="green-text">+ 500 руб</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar-panel" id="my-settings">
                <div class="blocks">
                    <div class="block page-select-container">
                        <select class="page-select" name="currPage" >
                            <option>Баланс</option>
                            <option>Мои анкеты</option>
                            <option>Мои заказы</option>
                            <option>Рефералы</option>
                            <option>Настройки профиля</option>
                            <option>Выйти</option>
                        </select>
                    </div>
                    <div class="panel-top">
                        <h1>Настройки профиля</h1>
                    </div>
                    <div class="block">
                        <section class="user-data">
                            <h2>Личные данные</h2>
                            <form id="profileForm" action="/update-profile/" method="POST">
                                {% csrf_token %}
                                <div class="input-group">
                                    <label>Имя</label>
                                    <input type="text" name="first_name" value="{{user.profile.first_name}}">
                                </div>
                                <div class="input-in-row">
                                    <div class="input-group">
                                        <label>Возраст</label>
                                        <input type="text" name="age" value="{{user.profile.age}}">
                                    </div>
                                    <div class="input-group">
                                        <label>Город</label>
                                        <input type="text" name="city" value="Петропавловск">
                                    </div>
                                </div>
                                <div class="input-in-row">
                                    <div class="input-group">
                                        <label>Телефон</label>
                                        <input type="text" name="phone" value="{{user.profile.phone}}">
                                    </div>
                                    <div class="input-group">
                                        <label>Email</label>
                                        <input type="email" name="email" value="{{ user.email }}">
                                    </div>
                                </div>
                                <button type="submit" class="blue-btn">Сохранить</button>
                            </form>
                            
                        </section>
                        <section class="notifications">
                            <h2>Уведомления (в разработке)</h2>
                            <form >
                                <div class="input-group">
                                    <div class="input-group-radio">
                                        <input type="checkbox">
                                        <p>Получать уведомления на почту</p>
                                    </div>
                                   
                                </div>

                                <a href="#" class="blue-btn">Сохранить</a>
                            </form>
                        </section>
                        <section class="password-change">
                            <h2>Изменить пароль (в разработке)</h2>
                            <form >
                                <div class="input-group">
                                    <label >Старый пароль</label>
                                    <input type="password">
                                </div>
                                <div class="input-in-row">
                                    <div class="input-group">
                                        <label >Новый пароль</label>
                                        <input type="password">
                                    </div>
                                    <div class="input-group">
                                        <label >Повторите пароль</label>
                                        <input type="password">
                                    </div>
                                </div>
                                <a href="#"  class="blue-btn">Сохранить</a>
                            </form>
                        </section>
                    </div>
                </div>
            </div>
            <div class="sidebar-panel" id="logout">
                <div class="blocks">
                    <div class="block page-select-container">
                        <select class="page-select" name="currPage" >
                            <option>Баланс</option>
                            <option>Мои анкеты</option>
                            <option>Мои заказы</option>
                            <option>Рефералы</option>
                            <option>Настройки профиля</option>
                            <option>Выйти</option>
                        </select>
                    </div>
                    <div class="block">
                        <h1>Выйти?</h1>
                        <a href='/logout/' class="red-btn">Да, выйти</a>
                    </div>
                </div>
            </div>
            <div class="sidebar-panel" id="create-anket-panel">
                <div class="blocks">
                    <div class="block page-select-container">
                        <select class="page-select" name="currPage" >
                            <option>Баланс</option>
                            <option>Мои анкеты</option>
                            <option>Мои заказы</option>
                            <option>Рефералы</option>
                            <option>Настройки профиля</option>
                            <option>Выйти</option>
                        </select>
                    </div>
                    <div class="top">
                        <h1>Добавить анкету</h1>
                        <img class="return-back-arrow" src="{% static "icons/arrow-left.svg" %}" id="return-back-anket" alt="">
                    </div>
                    <div class="block">
                        <form class="anket-form">
                            <h2>Личные данные</h2>
                            <a href="#" class="upload-photo">
                                <img src="{% static "icons/camera.svg" %}" alt="">
                            </a>
                            <div class="input-group">
                                <label >Имя</label>
                                <input type="text">
                            </div>
                            <div class="input-group-50">
                                <label >Дата рождения</label>
                                <input type="date">
                            </div>
                            <div class="input-group-50">
                                <label >Город</label>
                                <input type="text">
                            </div>
                            <div class="input-group-50">
                                <label >Пол</label>
                                <div class="input-in-row">
                                    <div class="input-group-radio">
                                        <input type="radio">
                                        <label >Мужской</label>
                                    </div>
                                    <div class="input-group-radio">
                                        <input type="radio">
                                        <label >Женский</label>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group-50">
                                <label >Телефон</label>
                                <input type="text" value="+7 4738 8438 84">
                            </div>
                            <div class="input-group-50">
                                <label >Email</label>
                                <input type="email" value="mail@mail.com">
                                <p class="error">Адрес не подтверждён. Мы отправили вам письмо для подтверждения</p>
                                <a href="#" class="link">Отправить письмо повторно</a>
                            </div>
                            <div class="devider"></div>
                            <h3>Обо мне</h3>
                            <div class="input-group-50">
                                <label >Стаж работы в годах</label>
                                <input type="text">
                            </div>
                            <div class="input-group">
                                <label >Опыт, навыки и преимущества</label>
                                <textarea   cols="20" rows="5"></textarea>
                            </div>
                            <div class="devider"></div>
                            <h3>Услуги</h3>
                            <input type="text">
                            <div class="devider"></div>
                            <h3>Примеры работы</h3>
                            <div class="add-photo">
                                <img src="{% static "images/job-image.png" %}" alt="Фото работы">
                                <div class="add-photo-btn">
                                    <img src="{% static "icons/plus.svg" %}" alt="плюс">
                                    Добавить фото
                                </div>
                            </div>
                            <div class="devider"></div>
                            <h3>Документы</h3>
                            <p>Чтобы получить бейдж «Паспорт проверен», отправьте на проверку ваш паспорт и селфи с
                                документом</p>
                            <a href="#" class="white-btn">Пройти проверку</a>
                            <div class="devider"></div>
                            <section class="donate-functions" >
                                <h2>Платные функции</h2>
                                <div class="block bal">
                                    <div class="top">
                                        <p>Ваш баланс: <strong>500 руб</strong></p>
                                    </div>
                                    <div class="bot">
                                        <button class="blue-btn">Пополнить</button>
                                    </div>
                                </div>
                                <div class="block">
                                    <div class="top">
                                        <img src="{% static "icons/zakrep.svg" %}" alt="замочек">
                                        <h3>Закрепить анкету</h3>
                                        <div class="cl-toggle-switch">
                                            <label class="cl-switch">
                                                <input type="checkbox">
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="bot">
                                        <div class="radio-btn-plan active">
                                            <p>На 1 день</p>
                                            <p class="price">100 руб</p>
                                        </div>
                                        <div class="radio-btn-plan">
                                            <p>На 7 дней</p>
                                            <p class="price">500 руб</p>
                                        </div>
                                        <div class="radio-btn-plan">
                                            <p>На 30 дней</p>
                                            <p class="price">1600 руб</p>
                                        </div>
                                    </div>
                                    <div class="plan-info">
                                        <span class="gray">Срок действия:</span>
                                        <span>до 11 января 2024, 08:29</span>
                                    </div>
                                </div>
                                <div class="block">
                                    <div class="top">
                                        <img src="{% static "icons/colorize.svg" %}" alt="кисточка">
                                        <h3>Выделить цветом </h3>
                                        <div class="cl-toggle-switch">
                                            <label class="cl-switch">
                                                <input type="checkbox">
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="bot">
                                        <div class="radio-btn-plan active">
                                            <p>На 1 день</p>
                                            <p class="price">100 руб</p>
                                        </div>
                                        <div class="radio-btn-plan">
                                            <p>На 7 дней</p>
                                            <p class="price">500 руб</p>
                                        </div>
                                        <div class="radio-btn-plan">
                                            <p>На 30 дней</p>
                                            <p class="price">1600 руб</p>
                                        </div>
                                    </div>
                                    <div class="plan-info">
                                        <span class="gray">Срок действия:</span>
                                        <span>до 11 января 2024, 08:29</span>
                                    </div>
                                </div>
                                <div class="block">
                                    <div class="top">
                                        <img src="{% static "icons/TOP.svg" %}" alt="TOP">
                                        <h3>Включить TOP</h3>
                                        <div class="cl-toggle-switch">
                                            <label class="cl-switch">
                                                <input type="checkbox">
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="bot">
                                        <div class="radio-btn-plan active">
                                            <p>На 1 день</p>
                                            <p class="price">100 руб</p>
                                        </div>
                                        <div class="radio-btn-plan">
                                            <p>На 7 дней</p>
                                            <p class="price">500 руб</p>
                                        </div>
                                        <div class="radio-btn-plan">
                                            <p>На 30 дней</p>
                                            <p class="price">1600 руб</p>
                                        </div>
                                    </div>
                                    <div class="plan-info">
                                        <span class="gray">Срок действия:</span>
                                        <span>до 11 января 2024, 08:29</span>
                                    </div>
                                </div>
                                <div class="block">
                                    <div class="top">
                                        <img src="{% static "icons/avto-up.svg" %}" alt="up">
                                        <h3>Автоподнятие анкеты</h3>
                                        <div class="cl-toggle-switch">
                                            <label class="cl-switch">
                                                <input type="checkbox">
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="bot">
                                        <div class="radio-btn-plan active">
                                            <p>Раз в 15 мин</p>
                                            <p class="price">100 руб</p>
                                        </div>
                                        <div class="radio-btn-plan">
                                            <p>Раз в 60 мин</p>
                                            <p class="price">500 руб</p>
                                        </div>
                                        <div class="radio-btn-plan">
                                            <p>Раз в 12 часов</p>
                                            <p class="price">1600 руб</p>
                                        </div>
                                        <div class="radio-btn-plan">
                                            <p>Раз в 24 часа </p>
                                            <p class="price">1600 руб</p>
                                        </div>
                                    </div>
                                    <div class="plan-info">
                                        <span class="gray">Срок действия:</span>
                                        <span>до 11 января 2024, 08:29</span>
                                    </div>
                                </div>

                            </section>
                            <section class="final-price">
                                <div class="left">
                                    <p>Сумма к оплате: </p>
                                </div>
                                <div class="right">
                                    <h3 class="price">700 руб</h3>
                                    <p class="error">Не хватает: 200руб</p>
                                    <a href="">Пополнить баланс</a>
                                </div>
                            </section>
                            <button type="submit" class="blue-btn full">Добавить анкету</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="sidebar-panel" id="create-order-panel">
                <div class="blocks">
                    <div class="block page-select-container">
                        <select class="page-select" name="currPage" >
                            <option>Баланс</option>
                            <option>Мои анкеты</option>
                            <option>Мои заказы</option>
                            <option>Рефералы</option>
                            <option>Настройки профиля</option>
                            <option>Выйти</option>
                        </select>
                    </div>
                    <div class="top">
                        <h1>Редактировать заказ</h1>
                        <img class="return-back-arrow" src="{% static "icons/arrow-left.svg" %}" id="return-back-order" alt="">
                    </div>
                    <div class="block">
                        <form  class="anket-form">
                            <h1 class="order-detail-name">Герметизация ванны</h1>
                            <h3 class="order-detail-price">До 5000 руб</h3>
                            <div class="order-detail-stat-group">
                                <div class="order-detail-stat">
                                    <p>22 просмотра</p>
                                    <div class="vertical-devider"></div>
                                </div>
                                <div class="order-detail-stat">
                                    <p>15 откликов</p>
                                    <div class="vertical-devider"></div>
                                </div>
                                <div class="order-detail-stat">
                                    <p>23 декабря 2023</p>
                                    <div class="vertical-devider"></div>
                                </div>
                                <div class="order-detail-stat">
                                    <p>Сантехника</p>
                                    <div class="vertical-devider"></div>
                                </div>
                                <div class="order-detail-stat">
                                    <p>Заказ № 61165326</p>
                                </div>
                            </div>
                            <div class="devider"></div>
                            <h2>Описание</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation Lorem
                                ipsum
                                dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                                et
                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                            <div class="order-detail-gallery">
                                <img src="{% static "images/job-image.png" %}" alt="Фото работы">
                                <img src="{% static "images/job-image.png" %}" alt="Фото работы">
                            </div>
                            <p><strong>Адрес:</strong> Ул. Пушкина</p>
                            <p><strong>Начать:</strong> 26 января 2024, 20:30</p>
                            <p><strong>Оплата задания:</strong> Напрямую исполнителю</p>
                            <p><strong>Цена отклика:</strong> 200 руб</p>
                            <div class="devider"></div>

                            <section class="donate-functions" >
                                <h2>Платные функции</h2>
                                <div class="block bal">
                                    <div class="top">
                                        <p>Ваш баланс: <strong>500 руб</strong></p>
                                    </div>
                                    <div class="bot">
                                        <button class="blue-btn">Пополнить</button>
                                    </div>
                                </div>
                                <div class="block">
                                    <div class="top">
                                        <img src="{% static "icons/zakrep.svg" %}" alt="замочек">
                                        <h3>Закрепить анкету</h3>
                                        <div class="cl-toggle-switch">
                                            <label class="cl-switch">
                                                <input type="checkbox">
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="bot">
                                        <div class="radio-btn-plan active">
                                            <p>На 1 день</p>
                                            <p class="price">100 руб</p>
                                        </div>
                                        <div class="radio-btn-plan">
                                            <p>На 7 дней</p>
                                            <p class="price">500 руб</p>
                                        </div>
                                        <div class="radio-btn-plan">
                                            <p>На 30 дней</p>
                                            <p class="price">1600 руб</p>
                                        </div>
                                    </div>
                                    <div class="plan-info">
                                        <span class="gray">Срок действия:</span>
                                        <span>до 11 января 2024, 08:29</span>
                                    </div>
                                </div>
                                <div class="block">
                                    <div class="top">
                                        <img src="{% static "icons/colorize.svg" %}" alt="кисточка">
                                        <h3>Выделить цветом </h3>
                                        <div class="cl-toggle-switch">
                                            <label class="cl-switch">
                                                <input type="checkbox">
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="bot">
                                        <div class="radio-btn-plan active">
                                            <p>На 1 день</p>
                                            <p class="price">100 руб</p>
                                        </div>
                                        <div class="radio-btn-plan">
                                            <p>На 7 дней</p>
                                            <p class="price">500 руб</p>
                                        </div>
                                        <div class="radio-btn-plan">
                                            <p>На 30 дней</p>
                                            <p class="price">1600 руб</p>
                                        </div>
                                    </div>
                                    <div class="plan-info">
                                        <span class="gray">Срок действия:</span>
                                        <span>до 11 января 2024, 08:29</span>
                                    </div>
                                </div>
                                <div class="block">
                                    <div class="top">
                                        <img src="{% static "icons/TOP.svg" %}" alt="TOP">
                                        <h3>Включить TOP</h3>
                                        <div class="cl-toggle-switch">
                                            <label class="cl-switch">
                                                <input type="checkbox">
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="bot">
                                        <div class="radio-btn-plan active">
                                            <p>На 1 день</p>
                                            <p class="price">100 руб</p>
                                        </div>
                                        <div class="radio-btn-plan">
                                            <p>На 7 дней</p>
                                            <p class="price">500 руб</p>
                                        </div>
                                        <div class="radio-btn-plan">
                                            <p>На 30 дней</p>
                                            <p class="price">1600 руб</p>
                                        </div>
                                    </div>
                                    <div class="plan-info">
                                        <span class="gray">Срок действия:</span>
                                        <span>до 11 января 2024, 08:29</span>
                                    </div>
                                </div>
                                <div class="block">
                                    <div class="top">
                                        <img src="{% static "icons/avto-up.svg" %}" alt="up">
                                        <h3>Автоподнятие анкеты</h3>
                                        <div class="cl-toggle-switch">
                                            <label class="cl-switch">
                                                <input type="checkbox">
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="bot">
                                        <div class="radio-btn-plan active">
                                            <p>Раз в 15 мин</p>
                                            <p class="price">100 руб</p>
                                        </div>
                                        <div class="radio-btn-plan">
                                            <p>Раз в 60 мин</p>
                                            <p class="price">500 руб</p>
                                        </div>
                                        <div class="radio-btn-plan">
                                            <p>Раз в 12 часов</p>
                                            <p class="price">1600 руб</p>
                                        </div>
                                        <div class="radio-btn-plan">
                                            <p>Раз в 24 часа </p>
                                            <p class="price">1600 руб</p>
                                        </div>
                                    </div>
                                    <div class="plan-info">
                                        <span class="gray">Срок действия:</span>
                                        <span>до 11 января 2024, 08:29</span>
                                    </div>
                                </div>

                            </section>
                            <section class="final-price">
                                <div class="left">
                                    <p>Сумма к оплате: </p>
                                </div>
                                <div class="right">
                                    <h3 class="price">700 руб</h3>
                                    <p class="error">Не хватает: 200руб</p>
                                    <a href="">Пополнить баланс</a>
                                </div>
                            </section>
                            <button type="submit" class="blue-btn full">Добавить анкету</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="{% static "js/main.js" %}"></script>
        <script src="{% static "js/return-to-top.js"%}"></script>
        <script src="{% static "js/lk.js"%}"></script>
        <script>
            document.getElementById('profileForm').onsubmit = function(event) {
                event.preventDefault(); // Prevent default form submission
                var formData = new FormData(this);
                fetch(this.action, {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}' // Ensure CSRF token is included
                    }
                }).then(response => response.json())
                  .then(data => {
                      console.log('Success:', data);
                      // Handle success, e.g., display a message, update UI
                  }).catch((error) => {
                      console.error('Error:', error);
                      // Handle errors here
                  });
            };
            </script>
    </div>
{% endblock content %}
